{% extends 'registration/base_generic.html' %}

{% block static %}
{% load static %}
<link rel='stylesheet' type='text/css' href="{% static 'user/css/change_password.css'%}">
{% endblock %}

{% block title %}
<title>Hangry</title>
{% endblock %}

{% block content %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}


<div id='form-container' class='container'>
    <div class='row'>
        <div class='col'>
            <form method="POST" id='changePasswordForm'>
                {% csrf_token %}
                <h1>Change Password</h1>            
                <div class='form-group'>
                  <label>Old Password</label>
                  <input type="password" id="id_old_password" name="old_password" placeholder="Enter password" class='form-control'>
                </div>

                <div class='form-group'>
                    <label>New Password</label>
                    <input type="password" id="id_new_password1" name="new_password1" placeholder="Enter new password" class='form-control'>
                </div>

                <div class='form-group'>
                    <label>Confirm New Password</label>
                    <input type="password" id="id_new_password2" name="new_password2" placeholder="Confirm new password" class='form-control'>
                </div>
                
                <button type="submit" class='btn btn-block btn-primary'>Change Password</button>
            </form>
            
        </div>
    </div>

  
</div>

{% endblock %}

{% block javascript %}
	{% load static %}
	
{% endblock %}