body {
  background-image: url("light-leather-background.jpg");
  // background-repeat: no-repeat;
  background-size: cover;
  // background-color: red;
}

#loginForm {
  background-color: white;
  margin-top: 50%;
  // margin-bottom: 25%;
  padding: 30px 50px 50px 50px;
  border-radius: 25px;
}

p {
  margin-top: 16px;
}