{% extends "project_specific/manager_base.html" %}

{% block content %}
{% if messages %}

	{% for message in messages %}
	<script>alert('{{ message }}')</script>

    {% endfor %}

{% endif %}

{% if error %}
	<div class="alert alert-danger">
		<strong>{{ error|escape }}</strong>
	</div>
{% endif %}

<div class='row' style='margin-top: 30px'>
  <div class='col-sm-8 col-md-8 col-lg-5 col-xl-5  offset-lg-1 offset-xl-1'>
    <h3>Add Balance</h3>
    <div class='form'>
      <label for="team_member">Team Members: </label>
      <select id="team_member" class='form-control'>

      </select>

      <label for="add_balance">Deposit</label>
      <input id="deposit_money" type="number" min=0 class='form-control'>

      <button class="btn btn-block btn-primary" onclick="depositMoney()" style='margin-top: 20px'>Deposit</button>
    </div>
  </div>

  <div class='col-sm-4 col-md-4 col-lg-5 col-xl-5'>
    <h3>Recent Actions</h3>
    <table class="table table-borderless table-striped table-hover" >
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Name</th>
          <th>Transaction</th>
        </tr>
      </thead>

      <tbody id='recentActions'>

      </tbody>
    </table>

  </div>
</div>

<div class='row' style='margin-top: 30px'>
  <div class='col-sm-12 col-md-12 col-lg-5 col-xl-5 offset-lg-1 offset-xl-1'>
    <h3>Manage Employee</h3>
    <div class='input-group mb-3'>
      <button class='btn btn-success' onclick="addUserToTeam()">Add Users to Team</button>
      <input type="text" placeholder="Search..." class="form-control" onkeyup="searchTable(this, 'unregisteredUserTable')"
      id="search-bar">
    </div>
    
    <table class="table table-borderless table-striped table-hover">
      <thead>
        <tr>
          <th>
            Select
          </th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
  
      <tbody id="unregisteredUserTable"></tbody>
    </table>
  </div>

  <div class='col-sm-12 col-md-12 col-lg-5 col-xl-5'>
    <div class='input-group mb-3' style='margin-top: 40px'>
      <button class='btn btn-danger' onclick="removeUserFromTeam()">Remove from Team</button>
      <input type="text" placeholder="Search..." class="form-control" onkeyup="searchTable(this, 'teamUserTable')"
      id="search-bar">
    </div>
    
    <table class="table table-borderless table-striped table-hover">
      <thead>
        <tr>
          <th>
            Select
          </th>
          <th>Name</th>
          <th>Balance</th>
          <th>Email</th>
        </tr>
      </thead>
  
      <tbody id="teamUserTable"></tbody>
    </table>
  </div>
</div>

{{ unregistered_users|json_script:"unregistered_users"}}
{{ team_users|json_script:"team_users"}}
{{ recent_transactions|json_script:"recent_transactions"}}

{% endblock %}

{% block javascript %}
    {% load static %}
    <script src="{% static 'project_specific/js/commonFunc.js'%}"></script>   
    <script src="{% static 'project_specific/js/manager_people.js'%}"></script>
    
	
{% endblock %}