{% extends "project_specific/manager_base.html" %}


{% block title %}
{% load static %}
<link rel='stylesheet' type='text/css' href="{% static 'project_specific/css/manager.css'%}">

<title>Hangry</title>
{% endblock %}

{% block content %}
{% if messages %}

	{% for message in messages %}
	<script>alert('{{ message }}')</script>

    {% endfor %}

{% endif %}

{% if error %}
	<div class="alert alert-danger">
		<strong>{{ error|escape }}</strong>
	</div>
{% endif %}

<div class='row' style='margin-top: 30px'>
    <div class='col-sm-6 col-md-6 col-lg-4 col-xl-3 offset-xl-1'>
			<table class="table table-borderless table-striped table-hover">
				<thead>
					<tr>
						<th>Vendor</th>
            <th>Meal</th>
            <th>Count</th>
					</tr>
				</thead>

				<tbody id="orderVendorSummary"></tbody>
			</table>
    </div>

    <div class='col-sm-6 col-md-6 col-lg-3 col-xl-3'>
			<table class="table table-hover">
				<thead>
					<tr>
            <th>Vendor</th>
            <th>Total ($)</th>
					</tr>
				</thead>

				<tbody id="vendorOwning"></tbody>
			</table>
    </div>

    <div class='col-sm-10 col-md-12 col-lg-5 col-xl-4'>
			<table class="table table-hover">
				<thead>
					<tr>
            <th>Vendor</th>
            <th>Tel</th>
            <th>Address</th>
					</tr>
				</thead>

				<tbody id="vendorInfo"></tbody>
			</table>
    </div>

</div>

<div class='row'>
  <div class='col-lg-12 col-xl-10 offset-xl-1'>
    <div class='input-group mb-3'>
      <label for="startDate">Start Date</label>
      <input id='startDate' type="date" class='form-control'>
  
      <label for="endDate">End Date</label>
      <input id='endDate' type="date" class='form-control'>

      <div class='input-group-append'>
        <button class='btn btn-primary' onclick="queryPastOrders()">Find</button>
        <button class='btn' onclick="queryTodayOrders()">Today</button>
        <button class='btn btn-success' onclick="downloadPastOrders()">Download</button>
      </div>
    </div>

    <div class='input-group mb-3'>
      <div class='input-group-prepend'>
        <button class='btn btn-success' onclick="placeOrder()">Order Confirm</button>
      </div>
      
      <input type="text" placeholder="Search..." class="form-control" onkeyup="searchTable(this, 'detailOrderInfo')"
        id="search-bar">
    </div>

    <div class='table-responsive'>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>
							<input type="checkbox" onclick="selectAll(this)" id="activeOrder-select-all">
							Select All
						</th>
            <th>Vendor</th>
            <th>Meal</th>
            <th>Price</th>
            <th>Customer</th>
            <th>Ordered</th>
            <th>Notes</th>
            <th>Timestamp</th>
          </tr>
        </thead>
  
        <tbody id="detailOrderInfo"></tbody>
      </table>
    </div>

  </div>
</div>

{{ meals_by_vendors|json_script:"meals_by_vendors"}}
{{ total_owning_by_vendors|json_script:"total_owning_by_vendors"}}
{{ vendor_info|json_script:"vendor_info"}}
{{ detail_order_info|json_script:"detail_order_info"}}


{% endblock %}

{% block javascript %}
    {% load static %}
    <script src="{% static 'project_specific/js/commonFunc.js'%}"></script>   
    <script src="{% static 'project_specific/js/manager.js'%}"></script>
    
	
{% endblock %}