{% extends "project_specific/manager_base.html" %}

{% block title %}
<title>Hangry</title>
{% endblock %}

{% block content %}
{% if messages %}

	{% for message in messages %}
	<script>alert('{{ message }}')</script>

    {% endfor %}

{% endif %}

{% if error %}
	<div class="alert alert-danger">
		<strong>{{ error|escape }}</strong>
	</div>
{% endif %}

<div class='row' style='margin-top: 30px'>
    <div class='col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 offset-sm-1 offset-md-1 offset-lg-1 offset-xl-1'>
        <h3 id='team_name'></h3>

        <div class='input-group mb-3'>
            <button class='btn btn-danger' onclick="cancelOrder()">Cancel Order</button>
            <input type="text" placeholder="Search..." class="form-control" onkeyup="searchTable(this, 'activeOrderTable')"
			id="search-bar">
        </div>
        
			<table class="table table-borderless table-striped table-hover">
				<thead>
					<tr>
						<th>
							<input type="checkbox" onclick="selectAll(this)" id="activeOrder-select-all">
							Select All
						</th>
						<th>Timestamp</th>
						<th>Vendor</th>
						<th>Meal</th>
						<th>Price</th>
					</tr>
				</thead>

				<tbody id="activeOrderTable"></tbody>
			</table>
    </div>

    <div class='col-12 col-sm-10 col-md-2 col-lg-4 col-xl-5'>
        <h3>Order Form</h3>
        <div class="form-group">
            <label for="vendor">Vendor: </label>
            <select id="vendor" class='form-control' onchange="populateMeal()">

            </select>

            <label for="meal">Meal: </label>
            <select id="meal" class='form-control'>

            </select>

            <label for="additional-notes">Notes: </label>
            <textarea id="additional-notes" rows="5" class="md-textarea form-control"></textarea>

            <button class="btn btn-block btn-primary" onclick="orderMeal()" style='margin-top: 20px'>Add</button>
        </div>
    </div>


</div>

{{ order_history|json_script:"order_history"}}
{{ active_order|json_script:"active_order"}}
{{ vendors|json_script:"vendors"}}
{{ team|json_script:"team"}}

{% endblock %}

{% block javascript %}
    {% load static %}
    <script src="{% static 'project_specific/js/commonFunc.js'%}"></script>   
    <script src="{% static 'project_specific/js/employee.js'%}"></script>
    
	
{% endblock %}